<%# Top-level layout for all pages in the application %>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>
      <%= content_for?(:title) ? "#{ yield(:title) } | #{ t('header.title') }" : t("header.title") %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('@uswds/uswds/dist/img/us_flag_small.png') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= yield :head %>

    <%= javascript_importmap_tags %>
    <%= javascript_include_tag '@uswds/uswds/dist/js/uswds-init.min.js' %>
  </head>

  <body>
    <div class="display-flex flex-column minh-viewport">
      <main id="main-content" class="grid-col-fill display-flex flex-column">
        <div class="grid-col-fill <%= yield :main_col_class %>">
          <div class="grid-container">
            <%= content_for?(:content) ? yield(:content) : yield %>
          </div>
        </div>
      </main>
    </div>

    <%= javascript_include_tag '@uswds/uswds/dist/js/uswds.min.js' %>
    <%= yield :scripts %>
  </body>
</html>
